

*{
    font-family: Georgia, serif;
    box-sizing: border-box;
    color: #7FDBFF;
  }

html{
  background-color: #001f3f;  
  margin: 20px;
}

h1{
    text-align: center;
  }

.main{
  display: flex;
  flex-direction: row;
  
}

label{
      font-weight: bold;
      margin: 10px;
    }

div{
      margin: 5px;
      display: flex;
}

button{
  background-color:#ebde9a;
  width: 50%;
  align-content: center;
  position: absolute;
  color: #001f3f;
  margin-left:5px;
}



select {
  color:#001f3f;
  height: 30%;
}

.add-new{

  flex-direction: column;
}
ul{
  align-items: center;
}