

*{
    font-family: Georgia, serif;
    box-sizing: border-box;
    color: #7FDBFF;
  }

html{
  background-color: #001f3f;  
  margin: 20px;
}

h1{
    text-align: center;
  }

.main{
  display: flex;
  
  flex-direction: column;
  
}

label{
      font-weight: bold;
      margin: 10px;
    }

div{
      margin: 5px;
      display: flex;
}

button{
  background-color:#ebde9a;
  width: 50%;
  align-content: center;
  color: #001f3f;
  margin-left:5px;
}

input{
  width:40%;
  margin-left: 35%;
}


select {
  color:#001f3f;
  height: 30%;
}

.add-new{
  display:flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
}
ul{
  align-items: center;
}

